.my-info {
    text-align: center;
}

.my-info img {
    width: 50px;
    border: 1px solid white;
    border-radius: 50px;
}

.personal-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.myDetects {

    justify-content: center;
}

.myDetects h3 {
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}

.brake {

    margin-left: 30px;

}

.brake button {

    margin-left: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    margin: 5px;

}

.activity {
    margin-left: 30px;
}