.my-info {
    text-align: center;
}

.my-info img {
    width: 50px;
    border: 1px solid white;
    border-radius: 50px;
}

.myDetects {

    justify-content: center;
}



.brake {

    margin-left: 30px;

}

.brake button {

    margin-left: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    margin: 5px;

}

.activity {
    margin-left: 30px;
}