.product img {
    height: 250px;
    width: 270px;
    padding: 5px;
    border-radius: 10px;

}

.cartInfo {
    padding-left: 15px;
}

.product {
    height: 500px;
    width: 285px;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 8px;
    position: relative;

}

.btnCart {
    width: 100%;
    background-color: rgb(100, 100, 228);
    border: 0;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}